@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1472px;
  padding: 0 16px;
  margin: 0 auto;
}
